@import "colors.css";
@import "loginform.css";

body {
    background-color: var(--bg-color);
    color: white;
    font-family: Arial, sans-serif;
}

#map {
    height: 280px;
}

/*container om flex aan te passen*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*container eindig hier*/

/*header*/

.header {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*header eindigt hier*/


/*Voordelen*/

.voordelen {
    display: flex;
    flex-direction: row;
}

/*voordelen eindig*/


.ster {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

/*kader*/

.kader {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.save {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*kader eindigt hier*/


button {
    background-color: inherit;
    cursor: pointer;
    border: none;
}
.legeDoos{
    display: flex;
    flex-direction: row;
}

.backbutton {
    margin: 20px;
    margin-right: 0%;
}

.backbutton img {
    display: block;
    width: 40px;
    filter: invert(100%);
}

.backbutton :hover {
    filter: none;
}

.sharebutton {
    color: white;
    background-color: var(--fg-color);
    padding: 2em;
    margin: 1em;
    border-radius: 1em;
}

.login{
    padding: 15px;
    
}
.login img{
    display: flex;
    width: 100%;
    filter: invert();
    
}
.login :hover{
    filter: none;
}

.sharebutton {
  padding: 5px;
  margin-right: 0;
  width: 45px;
  display: block;
}
.sharebutton img{
    display: block;
    width: 100%;
    filter: invert();
}
.sharebutton :hover{
    filter: none;    
}
.favbutton {
    float: right;
    border: none;
    padding: 2em;
    margin: 1em;
    border-radius: 1em;
    background-color: transparent;
}
.favbutton img{
    filter: invert();
}
.favbutton :hover{
    filter: none;
}

.favbutton img {
    display: block;
    width: 40px;
    filter: invert(100%);
}

.favbutton :hover {
    filter: none;
}

.favbutton.favorite img {
    filter: hue-rotate(45deg) brightness(1.2);
}


h1 {
    text-align: center;
}

.staraverage {
    align-self: center;
}

.checked {
    color: orange;
}

.gallery {
    align-self: center;
    text-align: center;

    border: 3px solid black;
    overflow: auto;
    white-space: nowrap;

    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
	width: 60vw;
	height: 40vw;
}
      
div.gallery img {
	display: block;
    padding: 10px;
}

.description {
    border: 2px outset black;
    width: 45%;
    padding: 20px;
    align-self: center;
}

.positives {
    color: rgb(22, 206, 16);
    float: left;
    margin: auto;
    padding: 15px;
}

.negatives {
    color: rgb(253, 79, 79);
    float: left;
    margin: auto;
    padding: 15px;
}

.filterbutton {
    float: left;
    background-color: var(--fg-color);
}

.userreview {
    float: left;
    border: 2px solid black;
    border-radius: 25px;
    padding: 30px;
    margin: 15px;
}


.star-rating {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.star-rating:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.star-rating:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: darkslategrey;
}

.star-rating:not(:checked)>label:before {
    content: '★ ';
}

.star-rating>input:checked~label {
    color: #ffc700;
}

.star-rating:not(:checked)>label:hover,
.star-rating:not(:checked)>label:hover~label {
    color: #deb217;
}

.star-rating>label:hover~input:checked~label {
    color: #c59b08;
}
