
@import "colors.css";
@import "loginform.css";

*
{
	box-sizing: border-box;
}

body{
	background-color: var(--bg-color);
	width: auto;
	margin: 0.5em;
	padding: 0;
	font-family: Arial, sans-serif;
}



/*container is rond de andere containers*/
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginbalk h1{
	text-align: center;
	color: white;
	width: 90%;
	font-size:xx-large;

}

.loginbalk{
	width: 90%;
	display: flex;
	justify-content: space-around;

}


/*loginbalk eindig hier*/


/*zoek balk begint hier*/


.zoekbalk input {
	padding: 1em;
	border-radius: 5rem;
	border: 1px;
	width: 100%;

}


.zoekbalk{   
	width: 90%;
}
#search{
	text-align: center;
}
/*zoek balk eindig hier*/




/*categorie categorieën*/

.categorie{
	display: flex;
	justify-content: center;
	flex-wrap: wrap; 
	margin-bottom: 50px;
	width: 100%;

}


.categorie a{
	text-decoration: none;
	cursor: pointer;
	color: white;
	background-color: var(--fg-color);
	border: none;
	border-radius: 1em;
	padding: 1em; 
	margin: 1em;
}




/*categorie eindig hier*/


/*Alles die met Kader te maken heeft zit hier*/


.Kader img {
	display: block;
	width: 95%;
}

.Kader{
	text-align: center;
	width: 90%;
}

.flex{

	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--fg-color);
	border-radius: 3rem;
	cursor: pointer;
}


/*Kader eindig hier*/

/*Grote schermen*/

@media screen and (min-width:1000px ){

	body{
		background-color: var(--bg-color);
	}

	.loginbalk{
		display: flex;
		flex-direction: row;
	}

	.loginbalk form{
		align-self: flex-end;
	}

	.flex{
		background-color: var(--fg-color);
	}

	.categorie a{
		background-color: var(--fg-color);
	}
}
