@import "colors.css";
*
{
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color);
  width:auto;
	margin: 0;
	padding: 0;
}

.fixed {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: var(--bg-color);
}
.fixed2 {
  position: fixed;
  display: flex;
  justify-content: space-around;
  top: 80px;
  height: 25px;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
}
#loc{
  width: 20%;
  border-radius: 5rem;
  border: 1px;
}
#fil{
  width: 20%;
}

#zoek{
padding: 15px;
width: 90%;

}

#request{
  border-radius: 5rem;
  text-align: center;
  padding: 17px;
  width: 100%;
  border: 1px;
}

#login{
  margin: 10px;
  margin-left: 0%;
}
#login img{
  display: block;
  width: 100%;
  filter: invert(100%);
}
#login :hover{
  filter: none;
}
.fixed button{
  width: 5%;
  text-align: center;
}

#back{
  margin: 20px;
  margin-right: 0%;
}
#back img{
  display: block;
  width: 40px;
  filter: invert(100%);
}
#back :hover{
  filter: none;
}
  
#contentContainer {
  text-align: center;
  margin-top: 115px; /* Adjust this value to give space below the fixed search bar */
  padding: 20px;
}
  
.post{
  border-radius: 1em;
  background-color: var(--fg-color);
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.post-image{
  display: block;
  width: 100%;
}
  