@import "colors.css";
@import "loginform.css";

*
{
	box-sizing: border-box;
}

body{
	background-color: var(--bg-color);
	width:auto;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.fixed {
	position: fixed;
	display: grid;
	grid-template-columns: 21% 49% 21%;
	grid-template-rows: 80% 20%;

	top: 0;
	left: 0;
	height: 20vh;
	width: 100%;
	background-color: var(--bg-color);
}

#zoek{
	grid-column: 1 span 2;
	display: grid;
	grid-template-columns: 33% 34% 33%;
	width: 100%;
}
#zoek-query {
	grid-column: 1 / span 3;
	grid-row: 1;
}
#zoek-category, #zoek-submit, #zoek-address {
	grid-row: 2 
}

#submit-btn{
	grid-row: 2;
	grid-column: 2;
}

#back{
	margin: 20px;
	margin-right: 0%;
}
#back img{
	display: block;
	width: 40px;
	filter: invert(100%);
}
#back :hover{
	filter: none;
}

#contentContainer {
	text-align: center;
	margin-top: 115px; /* Adjust this value to give space below the fixed search bar */
	padding: 20px;
}

.post{
	border-radius: 1em;
	background-color: var(--fg-color);
	color: white;
	padding: 20px;
	margin-bottom: 20px;
}

.post-image{
	display: block;
	width: 100%;
}
