@import "colors.css";
*
{
  box-sizing: border-box;
}

body{
  background-color: var(--color3);
  width:auto;
	margin: 0;
	padding: 0;
}

.fixed {
  text-align: center;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color3);
}

#zoek{
padding: 15px;
width: 95%;

}

#request{
  border-radius: 5rem;
  text-align: center;
  padding: 10px;
  width: 100%;
  border: 1px;
}

#login{
  border-radius: 5rem;
  border: 1px;
  margin: 15px;
  margin-left: 0%;
}
.fixed button{
  width: 5%;
  text-align: center;
}

#back{
  border-radius: 5rem;
  border: 1px;
  margin: 15px;
  margin-right: 0%;
}
  
#contentContainer {
  text-align: center;
  margin-top: 60px; /* Adjust this value to give space below the fixed search bar */
  padding: 20px;
}
  
.post{
  border-radius: 1em;
  background-color: var(--color1);
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}
  