
#searchBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  #searchBar label {
    margin-right: 10px;
  }
  
  #contentContainer {
    margin-top: 60px; /* Adjust this value to give space below the fixed search bar */
    padding: 20px;
  }
  
  .post{
      background-color: #f1f1f1;
      padding: 20px;
      margin-bottom: 20px;
  }
  